[Desktop Entry]
Icon=text-html
Name=DépotGithub
Type=Link
URL[$e]=https://github.com/krxdow/M1/tree/master/Architectures Logicielles Distribuées/RMI/cabinet
